In [1]:
import seaborn as sns

In [3]:
df = sns.load_dataset('flights')

In [4]:
df.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [5]:
df.cov()

                  year    passengers
year         12.000000    383.087413
passengers  383.087413  14391.917201

In [ ]:
df.corr(method='')